<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>404</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

<nav class="navbar">
  <div class="nav-left">
    <div class="logo">MovieLibrary</div>
    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </div>
  </div>

  <div class="nav-right" id="authLinks"></div>
</nav>


<div class="container error">
  <h1>404</h1>
  <p>Page Not Found</p>
</div>

</body>
</html>
