<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie-Library</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Movie-Library</h1>
    <p>Movie Library — Application for storaging and managing movie library.</p>

    <h2>Our Team</h2>
    <ul>
        <li>Begina — SE-2427</li>
        <li>Dilyara — SE-2427</li>
        <li>Kamila — SE-2427</li>
    </ul>

    <h2>Planned Features</h2>
    <ul>
        <li>Adding movies</li>
        <li>Editing and deleting </li>
        <li>Searching by name</li>
        <li>Details page of movies</li>
        <li>Sort by rate</li>
    </ul>
</body>
</html>